<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>   
    <div id="app">
        <button v-on:click="addItemToList">add</button>
        <button v-on:click="deleteItem">delete</button>
        <input v-model="todoItem">
        <div style='height:24px'>{{todoItem}}</div>
        <ol>
            <todo-item
                v-for='item in todoList'
                v-bind:todo='item'
                v-bind:key='item.id'
            ></todo-item>
        </ol>
    </div>    

</body>
<script type="text/javascript" src="app.js"></script>
</html>