<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>   
    <div style='margin-left:100px 'id="app">
        <form @submit.prevent='addItem'>
          <input v-model="todoItem">
          <button type='submit'>add</button>
        </form>
        <ol>
            <todo-item
                v-for='item in todoList'
                v-bind:todo='item'
                v-bind:key='item.id'
                v-on:delete-item='deleteItem(item.id)'
            ></todo-item>   
        </ol>
    </div>    
</body>
<script type="text/javascript" src="app.js"></script>
</html>